/**
 * =============================================================================
 * This is the file where all your styling should go in.
 * Instead of modifying the styles found in the monogatari.css file or others,
 * you should overwrite those styles in this file.
 *
 * The CSS selectors shown are not an extensive list but they are the most
 * common you might want to change. To find what other elements are available,
 * you can take a look at the monogatari.css file or use your browser's dev
 * tools to inspect the elements.
 * =============================================================================
**/

/**
 * ===========================
 * General Styling
 * ===========================
**/

@font-face {
    font-family: Silkscreen;
    src: url(../fonts/slkscr.otf);
}

html {
    font-family: Silkscreen, sans-serif;
}

/* General Style */
body {
    background: #fff;
}

/* Simple Button styles*/
button {
    width: 1.5rem;
    height: 0.6rem;
    background: #ffffff;
    color: #000000;
    padding: 0;
    font-size: 5px;
    border: 1px solid #000;
    border-radius: 0;
}

/* Simple Button Style on Hover */
button:hover {
    background: #000;
    color: #fff;
}

/* General Styling for Menu Screens */
[data-menu] {
	height: 64px;
	width: 96px;
	max-height: 64px;
	max-width: 96px;
    position: relative;
    overflow: hidden;
}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */
[data-menu="main"] {
    background: url('../img/ui/menu-bg.png');
    border: 1px solid #000;
}

/* Main Menu Buttons Styling */
[data-menu="main"] button {

}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */
[data-ui="slots"] figure {

}

/* Slot's Image Style */
[data-ui="slots"] img {

}

/* Slots Title Style */
[data-ui="slots"] figcaption {

}

/* Slots Delete Button Style */
[data-ui="slots"] button {

}

/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

/* Choice Buttons style */
[data-ui="choices"] button {
    color: #000;
    border-radius: 0;
}

/* Choice Button Style on Hover */
[data-ui="choices"] button:hover {
    color: #fff;
}

/* Text Box styling */
[data-ui="text"] {
    background-color: #fff;
    color: #000;
    min-height: 50%;
    max-height: 50%;
}

[data-ui="text"] p {
    border-top: 1px solid #000;
    display: block;
    width: 100%;
    padding: 2px;
    margin: 0;
    font-size: 6px;
}

/* Character Name Style */
[data-ui="who"] {
    display: block;
    padding: 1px 2px;
    margin: 0;
    font-size: 6px;
}

/* Style for Centered Text */
[data-ui="centered"] {

}

#game {
    border: 1px solid #000;
}

/* Character Images Styles */
#game [data-character] {

}

/* Other Images Styles */
#game [data-image] {

}

/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */
[data-ui="quick-menu"] {
    display: none;
}

/* Quick Menu Buttons Style */
[data-ui="quick-menu"] span {

}

/* Quick Menu Buttons Style on Hover */
[data-ui="quick-menu"] span:hover {

}

/* Quick Menu Buttons Icon Style */
[data-ui="quick-menu"] > span > .fa {
  font-size: 5px;
}

/* Styles for the desktop version of the Quick Menu*/
@media screen and (min-width: 37.56255em) {

	/* Quick Menu Style */
	[data-ui="quick-menu"] {

	}

	/* Quick Menu Buttons Style */
	[data-ui="quick-menu"] span {

	}

	/* Quick Menu Buttons Style on Hover */
	[data-ui="quick-menu"] span:hover {

	}
}